  @-webkit-keyframes infinite-spinning {
     from {
       -webkit-transform: rotate(0deg);
     }
     to {
       -webkit-transform: rotate(360deg);
     }
  }
  @keyframes infinite-spinning {
     0% {
       -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       transform: rotate(0deg);
     }
     100% {
       -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
       -ms-transform: rotate(0deg);
       transform: rotate(360deg);
     }
  }


.fadeBox{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.6);
}

.spinner{
    -webkit-animation: infinite-spinning 1s infinite linear;
    animation: infinite-spinning 1s infinite linear;
    width: 50px;
    min-height: 50px;
    margin: auto;
    background: url(./HooligansBlock.png) no-repeat;
    margin-top: 10%;
    display: block;
	background-size: contain; 
}


